
.app-svg-time-chart {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  color: #000;

  .actions {
    margin-left: 30px;
    button {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  .new-range {
    margin: 10px 40px;
    button {
      margin-left: 10px;
    }
  }

  .svg-time-chart {
    .color {
      cursor: pointer;
    }
    .color:hover {
      opacity: 0.5;
    }
  }
}
