<div class="app-svg-time-chart">
  <div class="actions">
    <button (click)="onAddRange()">Add range</button>
    |
    <button (click)="onDownloadImage()">Download image</button>
    |
    <button (click)="onDownloadData()">Download data</button>

    <button (click)="onUploadData()">Upload new data</button>
    <input
      type="file"
      #uploadFile
      [hidden]="true"
      (change)="onUploadFile($event)"/>

    |
    <button (click)="onClear()">Clear Schedule</button>
  </div>

  <div
    *ngIf="isEditRange"
    class="new-range">
    <form (submit)="onSaveNewRange()">
      <label>
        Title:
        <input [(ngModel)]="editingRange.title" name="title" />
      </label>

      <label>
        Start:
        <select
          (change)="onChangeRangeTime()"
          [(ngModel)]="editingRangeTime.startHour"
          name="startHour">
          <option
            *ngFor="let hour of hours;"
            [value]="hour">
            {{hour}}
          </option>
        </select>
      </label>
      <select
        (change)="onChangeRangeTime()"
        [(ngModel)]="editingRangeTime.startMinutes"
        name="startMinutes">
        <option value="0" selected>00</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
      </select>

      <label>
        End:
        <select
          (change)="onChangeRangeTime()"
          [(ngModel)]="editingRangeTime.endHour"
          name="endHour">
          <option
            *ngFor="let hour of hours;"
            [value]="hour">
            {{hour}}
          </option>
          <option value="24">24</option>
        </select>
      </label>
      <select
        (change)="onChangeRangeTime()"
        [(ngModel)]="editingRangeTime.endMinutes"
        name="endMinutes">
        <option value="0" selected>00</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
      </select>

      <label>
        Kind:
        <select
          (change)="onChangeRangeKind()"
          [(ngModel)]="editingRange.kind"
          name="kind">
          <option value="red">red</option>
          <option value="yellow">yellow</option>
          <option value="green">green</option>
          <option value="blue">blue</option>
          <option value="title">title</option>
          <option value="work">work</option>
          <option value="sleep">sleep</option>
          <option value="background">background</option>
        </select>
      </label>

      <label>
        Height:
        <select
          [(ngModel)]="editingRange.height"
          name="height">
          <option value="0">Low</option>
          <option value="1">High</option>
        </select>
      </label>

      <label>
        Background:
        <select
          [(ngModel)]="editingRange.background"
          name="background">
          <option value="transparent">transparent</option>
          <option value="green">green</option>
        </select>
      </label>

      <button type="submit" [disabled]="!isValidNewRange()">Save</button> <!-- todo: validation -->
      <button type="button" (click)="onCancelNewRange()">Cancel</button>
    </form>
  </div>

  <svg
  xmlns="http://www.w3.org/2000/svg"
  xml:space="preserve"
  #svg
  style="margin: 0 auto; padding: 20px 0; width: 2146px; height: 480px;"
  class="svg-time-chart">

  <defs>
        <filter
          id="dashedBackground"
          x="0"
          y="0"
          width="100%"
          height="100%">
            <feImage
              xlink:href="http://app.absence.io/assets/images/absence_pattern.png"
              x="0"
              y="0"
              width="6"
              height="48"
              preserveAspectRatio="xMinYMin slice"/>
            <feTile
              x="0"
              y="0"
              width="100%"
              height="100%"/>
            <feComposite
              in2="SourceAlpha"
              operator="in"/>
            <feMerge>
                <feMergeNode in="SourceGraphic"/>
                <feMergeNode/>
            </feMerge>
        </filter>
  </defs>

  <rect
    class="background"
    x="0"
    y="0"
    [attr.width]="svgWidthFull"
    [attr.height]="svgHeightFull"
    style="fill: white;" />

  <g class="ranges">

    <g class="ranges">

      <g
        *ngFor="let timeRange of timeRangesBackgrounds; index as i;"
        class="background-group">
          <rect
            class="background"
            [attr.x]="rangeX(timeRange)"
            [attr.y]="svgMargin"
            [attr.width]="rangeWidth(timeRange)"
            [attr.height]="svgHeight"
            fill="#eee"
            filter="url(#dashedBackground)"
          />
        <g>
          <text
            class="background-title"
            [attr.x]="rangeTitleX(timeRange) - 4"
            [attr.y]="svgMargin + 20"
            text-anchor="middle"
            fill="#666"
            style="font-family: Arial, sans-serif; font-size: 9pt; font-weight: bold;">
            {{timeRange.title}}
          </text>
        </g>

      </g>

      <g
        *ngFor="let timeRange of timeRangesColours; index as i;"
        class="color-group">
          <rect
            class="color"
            [attr.x]="rangeX(timeRange)"
            [attr.y]="250 - rangeHeight(timeRange)"
            [attr.width]="rangeWidth(timeRange)"
            [attr.height]="rangeHeight(timeRange)"
            [attr.fill]="rangeColor(timeRange)"/>
          <text
            class="color-title"
            [attr.x]="rangeTitleX(timeRange)"
            [attr.y]="290"
            text-anchor="end"
            [attr.transform]="'rotate(-90 ' + rangeTitleX(timeRange) + ',290)'"
            [attr.fill]="rangeColor(timeRange, 1)"
            style="font-family: Arial, sans-serif; font-size: 9pt; font-weight: bold;">
            {{timeRange.title}}
          </text>
      </g>

      <g
        *ngFor="let timeRange of timeRangesTitles; index as i;"
        class="title-group">
          <rect
            class="title"
            [attr.x]="rangeX(timeRange)"
            [attr.y]="250"
            [attr.width]="rangeWidth(timeRange)"
            [attr.height]="30"
            [attr.fill]="rangeColor(timeRange)"/>
          <text
            class="title-text"
            [attr.x]="rangeTitleX(timeRange) - 4"
            [attr.y]="270"
            text-anchor="middle"
            [attr.fill]="'#000'"
            style="font-family: Arial, sans-serif; font-size: 9pt; font-weight: bold;">
            {{timeRange.title}}
          </text>
          <line
            class="title-left-line"
            [attr.x1]="rangeX(timeRange)"
            [attr.x2]="rangeX(timeRange)"
            y1="250"
            y2="295"
            stroke="rgba(0, 0,0, 1)"
            stroke-width="2px"/>
          <line
            class="title-right-line"
            [attr.x1]="rangeX(timeRange) + rangeWidth(timeRange)"
            [attr.x2]="rangeX(timeRange) + rangeWidth(timeRange)"
            y1="250"
            y2="295"
            stroke="rgba(0, 0,0, 1)"
            stroke-width="2px"/>
      </g>

    </g>

  </g>

  <g class="axises">

    <g
      *ngFor="let hour of hours; index as i;"
      class="hour">

      <text
        [attr.x]="svgMargin + hour * svgHourWidth"
        y="170"
        text-anchor="middle"
        style="font-family: Arial, sans-serif; color: #000; font-size: 9pt;">
        {{hour}}:00
      </text>
      <line
        [attr.x1]="svgMargin + hour * svgHourWidth"
        [attr.x2]="svgMargin + hour * svgHourWidth"
        y1="180"
        y2="250"
        stroke="rgba(0, 0,0, 1)"
        stroke-width="2px"/>
      <line
        [attr.x1]="svgMargin + hour * svgHourWidth + svgHalfWidth"
        [attr.x2]="svgMargin + hour * svgHourWidth + svgHalfWidth"
        y1="180"
        y2="250"
        stroke="rgba(0, 0,0, 1)"/>
      <line
        [attr.x1]="svgMargin + hour * svgHourWidth + svgQuarterWidth"
        [attr.x2]="svgMargin + hour * svgHourWidth + svgQuarterWidth"
        y1="200"
        y2="250"
        stroke="rgba(0, 0,0, 1)"/>
      <line
        [attr.x1]="svgMargin + hour * svgHourWidth + svgHalfWidth + svgQuarterWidth"
        [attr.x2]="svgMargin + hour * svgHourWidth + svgHalfWidth + svgQuarterWidth"
        y1="200"
        y2="250"
        stroke="rgba(0, 0,0, 1)"/>

    </g>

    <g class="hour">
      <text
        [attr.x]="svgMargin + 24 * svgHourWidth"
        y="170"
        text-anchor="middle"
        style="font-family: Arial, sans-serif; color: #000; font-size: 9pt;">
        24:00
      </text>
      <line
        [attr.x1]="svgMargin + 24 * svgHourWidth"
        [attr.x2]="svgMargin + 24 * svgHourWidth"
        y1="180"
        y2="250"
        stroke="rgba(0, 0,0, 1)"
        stroke-width="2px"/>
    </g>

  </g>

  <g class="title">
    <text
        x="40"
        y="60"
        text-anchor="start"
        style="font-family: Arial, sans-serif; color: #000; font-size: 20pt;">
      {{title}}
    </text>
  </g>

  Sorry, your browser does not support inline SVG.
</svg>

  <div [hidden]="!isDownload">
    <h2><a [href]="downloadLink">Download</a></h2>

    <canvas
      [width]="svgWidthFull"
      [height]="svgHeightFull"
      #canvas>
    </canvas>

    <hr>

    <img
      [width]="svgWidthFull"
      [height]="svgHeightFull"
      alt=""
      #png />

  </div>



</div>
