<svg class="app-svg-time-chart">
  <svg:g class="axises">
    <svg:g
      *ngFor="let hour of hours; index as i;"
      class="hour">
      <svg:text
        [attr.x]="svgMargin + hour * svgHourWidth"
        y="170"
        text-anchor='middle'
        class="hour__title">
        {{hour}}:00
      </svg:text>
      <svg:line
        [attr.x1]="svgMargin + hour * svgHourWidth"
        [attr.x2]="svgMargin + hour * svgHourWidth"
        y1="180"
        y2="250"
        class="axis axis--hour"/>
      <svg:line
        [attr.x1]="svgMargin + hour * svgHourWidth + svgHalfWidth"
        [attr.x2]="svgMargin + hour * svgHourWidth + svgHalfWidth"
        y1="180"
        y2="250"
        class="axis axis--half"/>
      <svg:line
        [attr.x1]="svgMargin + hour * svgHourWidth + svgQuarterWidth"
        [attr.x2]="svgMargin + hour * svgHourWidth + svgQuarterWidth"
        y1="200"
        y2="250"
        class="axis axis--quarter"/>
      <svg:line
        [attr.x1]="svgMargin + hour * svgHourWidth + svgHalfWidth + svgQuarterWidth"
        [attr.x2]="svgMargin + hour * svgHourWidth + svgHalfWidth + svgQuarterWidth"
        y1="200"
        y2="250"
        class="axis axis--quarter"/>
    </svg:g>
    <svg:g class="hour">
      <svg:text
        [attr.x]="svgMargin + 24 * svgHourWidth"
        y="170"
        text-anchor='middle'
        class="hour__title">
        24:00
      </svg:text>
      <svg:line
        [attr.x1]="svgMargin + 24 * svgHourWidth"
        [attr.x2]="svgMargin + 24 * svgHourWidth"
        y1="180"
        y2="250"
        class="axis axis--hour"/>
    </svg:g>

  </svg:g>
  Sorry, your browser does not support inline SVG.
</svg>
