
$width: 2016px;
$height: 200px;

$hour-width: round($width / 24);
$half-width: round($hour-width / 2);
$quarter-width: round($hour-width / 4);

$axis-bottom: 80px;
$axis--height-hour: 60px;
$axis--height-half: 55px;
$axis--height-quarter: 40px;

$time-range-height: 30px;

.app-timechart {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  color: #000;

  position: relative;
  width: $width + 48px;
  height: $height;
  margin: 0 auto;
  border: 1px solid #eee;
  padding: 20px 40px;

  .hours {
    position: absolute;
    height: $height;
    width: 100%;

    .hour {
      position: absolute;
      width: $hour-width;
      height: $height;

      &__axis {
        position: absolute;
        bottom: $axis-bottom;
        background: #000;

        &__title {
          position: absolute;
          bottom: $axis-bottom + $axis--height-hour + 4px;
          text-align: center;
          width: 60px;
          left: 0;
          margin-left: -30px;
          font-size: 9pt;
        }

        &--hour {
          width: 2px;
          height: $axis--height-hour;
          left: 0;
        }
        &--half {
          width: 1px;
          height: $axis--height-half;
          left: 50%;
        }

        &--quarter-pre {
          width: 1px;
          height: $axis--height-quarter;
          left: 25%;
        }
        &--quarter-post {
          width: 1px;
          height: $axis--height-quarter;
          left: 75%;
        }
      }
    }
  }

  .time-ranges {
    position: absolute;
    height: $height;
    width: 100%;

    .time-range {
      position: absolute;
      min-width: $quarter-width;
      height: $height;

      &__bg {
        position: absolute;
        width: 100%;
        opacity: .5;
        background: aqua;
        height: $time-range-height;
        bottom: $axis-bottom;
      }

      @for $i from 0 through 96 {
        &--width-#{$i} {
          width: $quarter-width * $i;
        }
      }

    }

  }

  @for $i from 0 through 24 {
    .left-index-#{$i} {
      left: $hour-width * $i;
    }
  }

  .margin-minutes-0  {margin-left: $quarter-width * 0;}
  .margin-minutes-15 {margin-left: $quarter-width * 1;}
  .margin-minutes-30 {margin-left: $quarter-width * 2;}
  .margin-minutes-45 {margin-left: $quarter-width * 3;}

}
