<div class="app-root">

  <h1 *ngIf="!currentSchedule || !optimizedSchedule">Almost loaded...</h1>

  <div *ngIf="currentSchedule && optimizedSchedule">

    <app-svg-time-chart
      *ngIf="currentSchedule"
      [title]="'Regular Schedule'"
      [timeRanges]="currentSchedule"
      [copyFrom]="optimizedSchedule"
      [copyFromTitle]="'Optimized'"
    ></app-svg-time-chart>

    <hr>

    <app-svg-time-chart
      *ngIf="optimizedSchedule"
      [title]="'Optimized Schedule'"
      [timeRanges]="optimizedSchedule"
      [copyFrom]="currentSchedule"
      [copyFromTitle]="'Regular'"
    ></app-svg-time-chart>

  </div>

</div>
